certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
docx==0.2.4
idna==3.7
lxml==5.2.1
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
pyaes==1.6.1
pycparser==2.22
pypdfium2==4.29.0
Pyrogram==2.0.106
PySocks==1.7.1
requests==2.31.0
telegraph==2.2.0
TgCrypto==1.2.5
urllib3==2.2.1
